@page "/calendario"
@rendermode InteractiveServer
@inject AppDbContext db
@using Microsoft.EntityFrameworkCore

<h3>Calendario de visitas</h3>

<Calendar Detenciones="detenciones" />

@code {

    private List<Detencion> detenciones = new List<Detencion>();

    protected override async Task OnInitializedAsync()
    {
        detenciones = await db.Detenciones.ToListAsync();    
    }
}